body {
  font-family: "Helvetica";
  background-size: cover;
  scroll-behavior: smooth;
}
a {
  color: #c3a09d;
}
#upBtn {
  background-color: #6c1d16;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-color: #6c1d16;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#content {
  display: flex;
  justify-content: center;
}
#textcon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 1;
}
button {
  background-color: #6c1d16;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-color: #6c1d16;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  border-color: #6c1d16;
  box-shadow: 0 0 5px #a50000;
}
button:active {
  transform: scale(0.98);
  box-shadow: inset 0 0 5px #a50000;
}